doctype html
html(lang="es")
	head
		
		include ../_pug/_component/head
		
	body
		
		script(src="../js/functions.min.js")
		
		include ../_pug/_component/analytics
		
		include ../_pug/_component/barraSuperior
		include ../_pug/_component/header
		
		//- link(rel="stylesheet" href="css/seguimientoPedido.min.css")
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		script( type="text/javascript" ).
			$(function(){
				$( "#sortable" ).sortable();
				$( "#sortable" ).disableSelection();
			});
		
		style( type="text/css" ).
			body > div.path ,
			body > div.imagenes ,
			body > div.preview ,
			body > section.botones ,
			body > div.resultado {
				width: 80%;
				margin: 50px auto 0;
			}
			body > div.path .bloque {
				width: 16%;
				display: inline-block;
			}
			body > div.path .bloque > label {
				display: block;
				color: #666;
			}
			body > div.imagenes {
				margin-top: 10px;
			}
			body > div.imagenes label {
				color: #666;
			}
			body > div.imagenes textarea {
				width: 610px;
			}
			.preview > div > img {
				max-width: 140px;
				margin: 0 10px;
				border: 2px solid transparent;
				padding: 2px;
				border-radius: 4px;
			}
			.preview > div > img.activo {
				border: 2px solid green;
			}
			.resultado > label {
				display: block;
				color: #666;
			}
			.resultado > div {
				width: 610px;
			}
			body > section.botones {
				width: 570px;
				margin: 20px auto 0;
				height: 50px;
			}
			body > section.botones > input {
				display: inline-block;
				height: 34px;
				width: 60px;
				margin-left: 20px;
			}
			body > section.botones > button {
				width: 150px;
				margin: 0 auto;
				height: 40px;
				display: inline-block;
				text-transform: uppercase;
			}
			body > section.botones > button.borrar {
				margin-right: 20px;
			}
		
		.path
			.bloque.marca
				label Marca
				textarea
			.bloque.modelo
				label Modelo
				textarea
			.bloque.carpeta
				label Carpeta
				textarea
				
		.imagenes
			label IMAGENES
			textarea
		
		.preview
			div#sortable
		
		section.botones
			button.revisar revisar
			input( placeholder="nombre" )
			button.borrar borrar
			button.generar generar
		
		.resultado
			label resultado
			div( disabled )
		
		script( type="text/javascript" ).
			$( "button.revisar" ).click(() => {
				$( ".preview > div" ).html( "" );
				var marca	   = $( "div.path .marca textarea" ).val();
				var modelo	  = $( "div.path .modelo textarea" ).val();
				var carpeta	 = $( "div.path .carpeta textarea" ).val();
				var lineas	  = $( "div.imagenes textarea" ).val().split( "\n" ).length;	
				for( var count = 0; count <= lineas-1; count++ ) {
					let cadaLinea = $( "div.imagenes textarea" ).val().split( "\n" )[count];
					$( ".preview div" ).append( `<img src="./imagenes/productos/${marca}/${modelo}/${carpeta}/${cadaLinea.split( "	" )[0]}" title="${count+1}" />` )
				};
				$( ".preview > div > img" ).click(function() {
					var title = $( this ).attr( "title" );
					$( "body > section.botones > input" ).val( title );
					$( ".preview > div > img" ).removeClass( "activo" );
					$( this ).addClass( "activo" );
				});
			});
			$( "button.generar" ).click(() => {
				$( ".resultado div" ).html( "" );
				$.each( $( ".preview > div > img" ) , function(){
					var ruta = $( this ).attr( "src" );
					$( ".resultado > div" ).append( `${ruta} ` );
				});
			});
			$( "button.borrar" ).click(() => {
				var borrar = $( "body > section.botones > input" ).val();
				$( `.preview > div > img[title=${borrar}]` ).remove();
			});
			
			//- TEST
			$( "div.path .marca textarea" ).val( "nike" );
			$( "div.path .modelo textarea" ).val( "airforce1" );
			/*
			$( "div.path .carpeta textarea" ).val( "bfdb" );
			$( "div.imagenes textarea" ).val( `2b87585a.jpg	1.3 MB	16/4/21 14:11:44 \n455e926d.jpg	1.3 MB	16/4/21 14:11:38 \n4bc84d13.jpg	1.5 MB	16/4/21 14:11:46 \n6c03f95b.jpg	1.3 MB	16/4/21 14:11:52 \n911a333e.jpg	1.7 MB	16/4/21 14:11:50 \n94fca65a.jpg	1.3 MB	16/4/21 14:11:48 \na74ccc92.jpg	1.2 MB	16/4/21 14:11:52 \nab798107.jpg	1.5 MB	16/4/21 14:` );
			*/
			
				
				
				
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		include ../_pug/_component/footer
		