doctype html
html(lang="es")
	head
	
		include _component/head
	
	body
		
		include _component/analytics
		
		include _component/barraSuperior
		include _component/header
		
		div.busquedaBanner
			link(rel="stylesheet" href="css/busqueda.min.css")
			img.lazyload( data-src="/imagenes/busqueda/20210403-0517-busquedaBanner.jpg" alt="" )
			p 
			script( type="text/javascript" ).
				var busqueda = location.href.split( "buscador=" )[1];
				if ( busqueda == "" ) {
					$( ".busquedaBanner img" ).attr( "alt" , "Todos los modelos" );
					$( ".busquedaBanner p" ).html( `"Todos los modelos"` );
				}else if (  busqueda.includes( "%20" ) ) {
					busqueda = busqueda.replaceAll( "%20" , " " );
					$( ".busquedaBanner img" ).attr( "alt" , busqueda );
					$( ".busquedaBanner p" ).html( `"${busqueda}"` );
				} else {
					$( ".busquedaBanner img" ).attr( "alt" , busqueda );
					$( ".busquedaBanner p" ).html( `"${busqueda}"` );
				};
			h3.resultados 
			
		include _component/filtros	
		
		.productos
			link( rel="stylesheet" href="css/productos.min.css" )
			
			ul
			img.cargando( src="/imagenes/loading.gif" alt="Cargando ..." )
			//- TRAE DATA
			script( type="text/javascript" ).
			
				var busqueda = location.href.split( "buscador=" )[1];
				if (  busqueda.includes( "%20" ) ) {
					busqueda = busqueda.replaceAll( "%20" , " " );
				};
			
				Promise.all([
					fetch( bd ).then(value => value.json())
				])
				.then((value) => {
					
					var data = value[0].feed.entry;
					
					for( var fila = 0; fila <= data.length-1; fila++ ) {
						
						var id  = data[fila].gsx$id.$t;
						var stock  = data[fila].gsx$stock.$t;
						var marca  = data[fila].gsx$marca.$t;
						var modelo  = data[fila].gsx$modelo.$t;
						var color  = data[fila].gsx$color.$t;
						var ayudaBusqueda = marca + modelo + color;
						
						var preciocliente  = data[fila].gsx$precioneto.$t;
						preciocliente = Number(preciocliente)+cometa
						
						var talla  = data[fila].gsx$talla.$t;
						
						var imagen	= data[fila].gsx$imagen.$t;
						if ( imagen.split( " " ).length >= 2 ) {
							for ( var imgcount = 0; imgcount <= imagen.split( " " ).length-1; imgcount++ ) {
								$( ".getDetalle .galeria" ).append( `<img class="lazyload" src="${imagen.split( " " )[imgcount]}" alt="${marca} - ${modelo}" />` )
								
								$( ".getDetalle > .galeria > img" ).click(function(){
									let ruta = $( this ).attr( "src" );
									$( ".getDetalle > img" ).attr( "src" , ruta );
								});
								
							};
							imagen = imagen.split( " " )[0];
						};
						
						// Agrega PRODUCTOS
						if ( stock == "1" && ayudaBusqueda.includes( busqueda )  ) {
							$( ".productos ul" ).prepend( `
								<li data-talla="${talla}" data-color="${color}" data-stock="${stock}" data-id="${id}" data-zapatilla="${marca} ${modelo} ${color}">
									<a href="/detalle.html?id=${id}" title="${marca} ${modelo}">
										<img class="lazyload" data-src="${imagen}" alt="${marca} ${modelo} ${color}" /> 
										<span class="modelo">${modelo}</span>
										<span class="marca">${marca}</span>
										<span class="color">${color}</span>
										<span class="precio">${puntuacion(preciocliente)}</span>
										<span class="talla">${talla}</span>
										<span class="id">#${id}</span>
									</a>
								</li>
							` );
						}
						$( ".productos .cargando" ).hide();
					};
					
					cuentaProductos( "h3.resultados" );	
				});	
				
			
				
				
		include _component/footer
		