doctype html
html(lang="es")
	head
		
		include _component/head
	
	body
		
		//- script(src="_js/functions.js")
		script(src="js/functions.min.js")
		
		include _component/analytics
		
		include _component/barraSuperior
		include _component/header
		
		.getDetalle
			link(rel="stylesheet" href="css/getDetalle.min.css")
			
			img.producto
			.galeria
			div
				p.modelo
				p.marca
				p.colores
				p.precio
				//- p.envio Valor Envío: 
				//- 	strong GRATIS
				p.fechaEntrega
				include _component/medidaCalzado
				.talla
					p Selecciona talla:
					ul
						li( data-talla="talla-35" ) 35
						li( data-talla="talla-36" ) 36
						li( data-talla="talla-37" ) 37
						li( data-talla="talla-38" ) 38
						li( data-talla="talla-39" ) 39
						li( data-talla="talla-40" ) 40
						li( data-talla="talla-41" ) 41
						li( data-talla="talla-42" ) 42
						li( data-talla="talla-43" ) 43
						li( data-talla="talla-44" ) 44
						li( data-talla="talla-45" ) 45
						li( data-talla="talla-46" ) 46
						li( data-talla="talla-47" ) 47
						li( data-talla="talla-48" ) 48
						li( data-talla="talla-49" ) 49
					p.sugerimos Sugerimos pedir una talla más grande de la que utilizas
				p.id
				a.comprar( target="_blank" href="" ) comprar
			
		//- GET DATA
		script( type="text/javascript" ).
			var getDetalle = function( owo ) {
				owo = owo-1
				
				Promise.all([
					fetch( `https://spreadsheets.google.com/feeds/list/1aZlC5KaMoyEPVqbMiH8_bPCsZoh65PBW9cm0HpG8Kjk/1/public/values?alt=json` ).then(value => value.json())
				])
				.then((value) => {
					
					var data			= value[0].feed.entry
					var id			  = data[owo].gsx$id.$t;
					var stock			= data[owo].gsx$stock.$t;
					var marca			= data[owo].gsx$marca.$t;
					var modelo			= data[owo].gsx$modelo.$t;
					
					var imagen			= data[owo].gsx$imagen.$t;
					if ( imagen.split( " " ).length >= 2 ) {
						for ( var imgcount = 0; imgcount <= imagen.split( " " ).length-1; imgcount++ ) {
							
							if ( !imagen.split( " " )[imgcount].length == 0 ) {
								$( ".getDetalle .galeria" ).append( `<img class="lazyload" data-src="${imagen.split( " " )[imgcount]}" alt="${marca} - ${modelo}" />` )
								
								$( ".getDetalle > .galeria > img" ).click(function(){
									let ruta = $( this ).attr( "src" );
									$( ".getDetalle > img" ).attr( "src" , ruta );
								});
							}
							
						};
						imagen = imagen.split( " " )[0];
					};
					
					var color	   = data[owo].gsx$color.$t;
					var preciocliente   = Number( data[owo].gsx$precioneto.$t ) + 15000;
					var talla		   = data[owo].gsx$talla.$t;
					for( var i = 0; i <= talla.split( " " ).length-1; i++ ) {
						var tallaActiva = talla.split( " " )[i];
						$( ".talla > ul > li[data-talla=talla-" + tallaActiva + "]" ).addClass( "enable" );
					}
					
					var descripcion		= data[owo].gsx$descripcion.$t;
					if( descripcion.length >= 1 ) {
						var descripcion = "("+descripcion+")";
					};
					
					// Agrega PRODUCTOS
					var $producto = $( ".getDetalle" );
					$producto.find( "img.producto" ).attr( "data-src" , imagen );
					$producto.find( "img.producto" ).attr( "alt" , modelo + " - " + marca );
					$producto.find( "img.producto" ).addClass( "lazyload" );
					$producto.find( "p.modelo" ).html( modelo );
					$producto.find( "p.marca" ).html( marca );
					$producto.find( "p.colores" ).html( listaColor( color , "p.colores" ) );
					$producto.find( "p.precio" ).html( `${puntuacion(preciocliente)}` );
					//- $producto.find( "p.fechaEntrega" ).html( fechaEntrega() );
					$producto.find( "p.fechaEntrega" ).html( `<strong>Fecha de entrega:</strong> 15 a 20 días hábiles.` );
					$producto.find( "a.comprar" ).attr( "href" , `https://api.whatsapp.com/send?phone=56996336330&text=Hola, tengo una duda sobre las ${marca} ${modelo} (ID:${id})` );
					$( "title" ).html( `${capitalize(modelo)} - ${capitalize(marca)}` );
					$( ".talla > ul > li.enable" ).click(function(){
						$( ".talla > ul > li.enable" ).removeClass( "select" );
						$( this ).addClass( "select" );
						$( "a.comprar" ).attr( "href" , `https://api.whatsapp.com/send?phone=56996336330&text=Hola, tengo una duda sobre las ${marca} ${modelo} numero ${$( ".talla > ul > li.select" ).html()} (ID:${id})` );
					});
					
				});	
			};
				
		//- Te devuelve al home si no viene el parametro
		script( type="text/javascript" ).
			var url = location.href;
			if ( !url.includes( "?id=" ) ) {
				console.log( `Devolviendo al home por falta de parametros ...` );
				window.open( location.origin , "_self" );
			} else {
				const queryString = window.location.search;
				const urlParams = new URLSearchParams(queryString);
				const id = urlParams.get('id');
				getDetalle( id );
			}
			
		include _component/footer