doctype html
html(lang="es")
	head
	
		include _component/head
	
	body
		
		script(src="js/functions.min.js")
		
		include _component/analytics
		
		include _component/barraSuperior
		include _component/header
		
		div.marca
			style( type="text/css" ).
				div.marca {}
				div.marca > .titulo {
					background: #00bcf2;
					height: 60px;
				}
				div.marca > .titulo img {
					max-width: 50px;
					margin: 0 auto;
					display: block;
					padding-top: 5px;
				}
			div.titulo
				img.lazyload( data-src="" alt="" )
			script( type="text/javascript" ).
				var marca = location.href.split( "marca=" )[1];
				$( ".marca > .titulo > img" ).attr( "src" , `/imagenes/marcas/${marca}-blanco.svg` );
				$( ".marca > .titulo > img" ).attr( "alt" , marca );
			
			
			.busquedaBanner
				link( rel="stylesheet" href="css/busqueda.min.css" )
				h3.resultados 
				
			
		.productos
			link( rel="stylesheet" href="css/productos.min.css" )
			
			ul
			img.cargando( src="/imagenes/loading.gif" alt="Cargando ..." )
			//- TRAE DATA
			script( type="text/javascript" ).
				Promise.all([
					fetch( `https://spreadsheets.google.com/feeds/list/1aZlC5KaMoyEPVqbMiH8_bPCsZoh65PBW9cm0HpG8Kjk/1/public/values?alt=json` ).then(value => value.json())
				])
				.then((value) => {
					
					var data = value[0].feed.entry;
					
					for( var fila = 0; fila <= data.length-1; fila++ ) {
						
						var id  = data[fila].gsx$id.$t;
						var stock  = data[fila].gsx$stock.$t;
						var marca  = data[fila].gsx$marca.$t;
						var modelo  = data[fila].gsx$modelo.$t;
						var color  = data[fila].gsx$color.$t;
						
						var preciocliente  = data[fila].gsx$precioneto.$t;
						preciocliente = Number(preciocliente)+15000
						
						var talla  = data[fila].gsx$talla.$t;
						
						var imagen	= data[fila].gsx$imagen.$t;
						if ( imagen.split( " " ).length >= 2 ) {
							for ( var imgcount = 0; imgcount <= imagen.split( " " ).length-1; imgcount++ ) {
								$( ".getDetalle .galeria" ).append( `<img class="lazyload" src="${imagen.split( " " )[imgcount]}" alt="${marca} - ${modelo}" />` )
								
								$( ".getDetalle > .galeria > img" ).click(function(){
									let ruta = $( this ).attr( "src" );
									$( ".getDetalle > img" ).attr( "src" , ruta );
								});
								
							};
							imagen = imagen.split( " " )[0];
						};
						
						// Agrega PRODUCTOS
						if ( stock == "1" ) {
							$( ".productos ul" ).prepend( `
								<li data-talla="${talla}" data-stock="${stock}" data-id="${id}" data-zapatilla="${marca} ${modelo} ${color}">
									<a href="/detalle.html?id=${id}" title="${marca} ${modelo}">
										<img class="lazyload" data-src="${imagen}" alt="${marca} ${modelo} ${color}" /> 
										<span class="modelo">${modelo}</span>
										<span class="marca">${marca}</span>
										<span class="color">${color}</span>
										<span class="precio">${puntuacion(preciocliente)}</span>
										<span class="talla">${talla}</span>
										<span class="id">#${id}</span>
									</a>
								</li>
							` );
						}
						$( ".productos .cargando" ).hide();
					};
					
					var busqueda = location.href.split( "marca=" )[1];
					buscar( busqueda );
					cuentaProductos( "h3.resultados" );	
				});	
				
		include _component/footer
		